@{
    ViewBag.Title = "Secret";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <p>
                <img src="~/Images/chest-3.jpg" class="img-responsive" alt="illustration of pirate treasure chest with gold coins" />
            </p>
            <small>Image from free vector pack of <a href="http://www.1000vectors.com/free-vectors/vector-pack">1000vectors.com</a></small>
        </div>
    </div>
</article>