@{
    ViewBag.Title = "Flexpod";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This application is used in a powershell demo. The concept presented
                is that the developer is building management forms is all wrong. 
                Operations is used to powershell for maintenance and management. That
                is why we should build a powershell module for these tasks.
            </p>
        </div>
    </section>
}
<h3>Flow of the demo:</h3>
<ol class="round">
    <li class="one">
        <h5>Open the Kudu link</h5>
        Azure websites have tooling provided out-of-the-box. This includes
        a powershell console right in your webbrowser. There you can import
        the flexpod.powershell.dll module from the bin folder.
        <a href="https://github.com/projectkudu/kudu/wiki/Kudu-console">Learn more…</a>
    </li>

    <li class="two">
        <h5>Create user</h5>
        The powershell module offers the commandlet Add-FlexpodUser. This creates
        a user for the application. The commandlet can be used with the pipeline, 
        supports common parameters and passes information on the pipeline.
        <a href="https://technet.microsoft.com/en-us/library/hh847856.aspx">Learn more…</a>
    </li>

    <li class="three">
        <h5>Open Secret page</h5>
        To gain access to the Secret page you need to login. The only way to create
        a user is with the powershell module. (see step 2) You know why when you
        open te page.
        @Html.ActionLink("Learn more…", "About", "Home")
    </li>
</ol>
